<%- include('header') -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
        <h4>Type pop to remove the top element</h4>
        <h4>Type clear to clear the list</h4>
    </div>
    <div class="box">
        <% for(var i=0;i<listi.length ; ++i) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= listi[i] %>
                </p>
            </div>
            <% } %>
                <form action="/" method="post" class="item">
                    <label for="item"></label>
                    <input type="text" name="item" id="initem" placeholder="New Item" autocomplete="off">
                    <!-- <input type="submit" name="button" > -->
                    <button type="submit" name="button" value=<%=listTitle%>>+</button>
                </form>
    </div>

<%- include('footer') %>